@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
body{
  scroll-behavior: smooth;
}
.outfit{
  font-family: "Outfit", sans-serif;
}
.ovo{
  font-family: "Ovo", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
